#site-daily {
  #quiz {
    .quiz-container {
      background-color: transparent;
    }
  }

  div[name="daily-quizzes"] {
    button.done {
      background-color: #4caf50;
      border-color: #4caa44;
    }
  }
}
